<div>
    <a type="button" routerLink="/materiales">
        <img src="../../assets/back-img.png" alt="home-img" height="75" width="120">
    </a>
</div>
<div class="container">
    <input type="checkbox" id="toggle">
    <label for="toggle" class="button">
   </label>
    <nav class="nav">
        <a onclick="document.getElementById('id04').style.display='block'">Nuevo Nicho</a>
        <a routerLink="/dashboard">Home</a>
        <!-- <a>..</a>
        <a href="#">Reclamos</a> -->
    </nav>
</div>

<!-- TABLA NICHO -->
<section>
    <div class="table-wrapper">
        <h1>NICHOS</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.nombre}}</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let item of respuestaNicho">
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- TABLA NICHO -->

<!-- MODAL NICHO -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">&times;</span>
            </header>

            <div>
                <h1>Nuevo Nicho</h1>
                <form [formGroup]="nichoForm" autocomplete="off">
                    <strong>Nombre del Nicho</strong><br>
                    <input formControlName="nombre">
                    <div>
                        <span class="errors" *ngIf="getError('nombre')"> mayúscula al inicio y mínimo 5 letras </span>
                    </div><br><br>
                    <button class="colorbutton white" [disabled]="!nichoForm.valid" (click)="postDataNicho()" type="submit">
                        Enviar Datos
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL NICHO -->