<div class="container">
    <input type="checkbox" id="toggle">
    <label for="toggle" class="button">
   </label>
    <nav class="nav">
        <a onclick="document.getElementById('id04').style.display='block'">Nuevo Material</a>
        <a routerLink="/dashboard">Home</a>
        <a routerLink="/nicho">Nicho</a>
        <!-- <a>..</a>
        <a href="#">Reclamos</a> -->
    </nav>
</div>
<!-- TABLA MATERIALES -->
<section>
    <div class="table-wrapper">
        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <form mathod="get">
                    <input ttype="search" id="search" placeholder="Buscar..." [(ngModel)]="filtroMateriales">
                    <select name="buscar" id="search" [(ngModel)]="filtroMateriales">
                  <option *ngFor="let item of respuestaMateriales" value={{item.nombre}}>{{item.nombre}}</option>
                </select>
                    <!-- <select name="buscar" [(ngModel)]="filtroMateriles"></select> -->
                    <!-- <input type="submit" value="Buscar" (click)="filtroMateriales"> -->
                </form>
            </div>
        </div>
        <h1>MATERIALES</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.nombre}}</th>
                    <th>{{item.descripcion}}</th>
                    <th>{{item.fecha_registro}}</th>
                    <th>{{item.fecha_actualizacion}}</th>
                    <th>{{item.precio}}</th>
                    <th>{{item.idnicho}}</th>
                    <th>{{item.idproveedor}}</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let item of respuestaMateriales | filtros:filtroMateriales| paginate: { itemsPerPage: 5, currentPage: p } ">
                        <th>{{item.id}}</th>
                        <th>{{item.nombre}}</th>
                        <th>{{item.descripcion}}</th>
                        <th>{{item.fecha_registro}}</th>
                        <th>{{item.fecha_actualizacion}}</th>
                        <th>{{item.precio}}</th>
                        <th>{{item.idnicho}}</th>
                        <th>{{item.idproveedor}}</th>
                        <td>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</section>
<div class="made-with-love">
    MATERIAL
    <i>♥</i>
    <a target="_blank" href="#">By: Richard</a>
</div>
<!-- TABLA MATERIALES -->

<!-- MODAL MATERIALES -->
<div>

    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">&times;</span>
            </header>

            <div>
                <h1>Nuevo Material</h1>
                <form [formGroup]="materialesForm" autocomplete="off">
                    <strong>Nombre Del Material</strong><br>
                    <input formControlName="nombre">
                    <div>
                        <span class="errors" *ngIf="materialesForm.controls['nombre'].errors?.required"> Obligatorio </span>
                        <span class="errors" *ngIf="materialesForm.controls['nombre'].errors?.pattern"> Inválido </span>
                    </div><br>

                    <strong>Descripción</strong><br>
                    <input formControlName="descripcion">
                    <div>
                        <span class="errors" *ngIf="materialesForm.controls['descripcion'].errors?.required"> Obligatorio </span>
                        <span class="errors" *ngIf="materialesForm.controls['descripcion'].errors?.pattern"> Inválido </span>
                    </div><br>

                    <strong>Precio</strong><br>
                    <input formControlName="precio">
                    <div>
                        <span class="errors" *ngIf="materialesForm.controls['precio'].errors?.required"> Obligatorio </span>
                        <span class="errors" *ngIf="materialesForm.controls['precio'].errors?.pattern"> Inválido </span>
                    </div><br>

                    <strong>Ubicación</strong><br>
                    <select formControlName="idnicho">
                        <option *ngFor="let item of respuestaNicho" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                    <div>
                        <span class="errors" *ngIf="materialesForm.controls['idnicho'].errors?.required">Obligatorio</span>
                    </div><br>

                    <strong>Proveedor</strong><br>
                    <select formControlName="idproveedor">
                        <option *ngFor="let item of respuestaProveedor" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                    <div>
                        <span class="errors" *ngIf="materialesForm.controls['idproveedor'].errors?.required">Obligatorio</span>
                    </div><br>
                    <a type="button" (click)="postDataMateriales()">Guardar</a>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- <form class="form">
    <h2>CONTACT US</h2>
    <p type="Name:"><input placeholder="Write your name here.."></input>
    </p>
    <p type="Email:"><input placeholder="Let us know how to contact you back.."></input>
    </p>
    <p type="Message:"><input placeholder="What would you like to tell us.."></input>
    </p>
    <button>Send Message</button>
    <div>
        <span class="fa fa-phone"></span>001 1023 567
        <span class="fa fa-envelope-o"></span> contact@company.com
    </div>
</form> -->
<!-- MODAL MATERIALES -->