<!-- <div class="fondo" class="topnav" id="myTopnav">
    <header class="menu">
        <a routerLink="/facturacion">Facturación</a>
        <a routerLink="/pedidos">Pedidos</a>
        <a routerLink="/albaran">Albarán</a>
        <a routerLink="/proveedores">Proveedor</a>
        <a routerLink="/clientes">Clientes</a>
        <a routerLink="/materiales">Materiales</a>
    </header>
</div> -->
<!-- <a href="#nowhere" class="navicon"></a>

    <div class="toggle">
        <h1>Toggle Menu</h1>
        <h3>Created by Vladislav Kirbaba</h3>
        <ul class="toggle__menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#"><span>..and more</span></a></li>
        </ul>
        <ul class="social">
            <li><a href="https://github.com/Kirbaba"><i class="fa fa-github"></i></a></li>
            <li><a href="https://twitter.com/VladKirbaba"><i class="fa fa-twitter"></i></a></li>
            <li> <a href="https://www.facebook.com/VladislavKirbaba"><i class="fa fa-facebook"></i></a></li>
            <li>
                <a href="https://vk.com/vladislavkirbaba"> <i class="fa fa-vk"></i></a>
            </li>
        </ul>
        <small>Inspired by Bruno Cartaxeiro's http://codepen.io/BRN/pen/tjwzl</small>
    </div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
 -->


<head>


</head>


<div id="contactos">
    <div class="content">
        <h1>....</h1>
    </div>
    <div class="outer-container">
        <div class="container container1">
            <div class="inner_container">
                <div class="title" routerLink="/materiales">Materiales</div>
                <div class="main_number">1</div>

            </div>
            <a><span routerLink="/albaran">Albarán</span></a>
        </div>

        <div class="container container2 active">
            <div class="inner_container">
                <div class="title" routerLink="/pedidos">Pedidos</div>
                <div class="main_number">2</div>

                <div class="container_text">
                    <div class="container_text1">Sistema</div>
                    <div class="container_text2">Facturacion</div>
                </div>
            </div>
            <a><span routerLink="/pedidos">Pedidos</span></a>
        </div>
        <div class="container container3">
            <div class="inner_container">
                <div class="title" routerLink="/proveedores">Proveedores</div>
                <div class="main_number">3</div>
            </div>
            <a><span routerLink="/facturacion">Facturacion</span></a>
        </div>
    </div>

</div>