<div class="container">
    <input type="checkbox" id="toggle">
    <label for="toggle" class="button">
           </label>
    <nav class="nav">
        <a onclick="document.getElementById('id04').style.display='block'">Nueva Factura</a>
        <a>..</a>
        <a routerLink="/dashboard">Home</a>
        <!-- <a>..</a>
                <a href="#">Nuevo pedido</a>
                <a>..</a>
                <a href="#">Reclamos</a> -->
    </nav>
</div>
<!-- TABLA FACTURACIÓN -->
<section>
    <div class="table-wrapper">
        <h1>FACTURACIÓN</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.idcliente}}</th>
                    <th>{{item.fecha}}</th>
                    <th>{{item.total}}</th>
                    <th>{{item.idCliente}}</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let item of respuestaFacturas">
                        <td>{{ item.id }}</td>
                        <td>{{ item.idcliente }}</td>
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.total }}</td>
                        <td>
                            <!--<a type="button" onclick="document.getElementById('id05').style.display='block'" (click)="getDatabyID(item.id)">
                                <img src="../../assets/editar.png" alt="edit-img" height="27" width="27">
                            </a>-->
                            <a type="button" href="/resumen_facturacion" (click)="getDatabyID(item.id)">
                                <img src="../../assets/details.ico" alt="details-img" height="27" width="27">
                            </a>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <img src="../../assets/delete-img.png" alt="delete-img" height="27" width="27">
                            </a>
                            <a type="button" style=" height: 27px; width: 27px" (click)="guardarId(item.id)">
                               ´<pdf></pdf>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="made-with-love">
    FACTURACIÓN
    <i>♥</i>
    <a target="_blank" href="#">By: Richard</a>
</div>
<!-- TABLA FACTURACIÓN -->

<!-- MODAL FACTURACIÓN -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">&times;</span>
            </header>

            <div>
                <h1>Nuevo Factura</h1>
                <strong>Cliente</strong><br>
                <select (change)="datosFactura()" [(ngModel)]='idcliente'>
                    <option value="999">Clientes</option>
                    <option *ngFor="let item of respuestaClientes" value={{item.id}}>{{item.apellido}} {{item.nombre}}</option>
                </select>
                <div>
                    <span class="errors" *ngIf="facturaForm.controls['idcliente'].errors?.required">Obligatorio</span>
                </div><br>
                <strong>MATERIAL</strong><br>
                <select [(ngModel)]="idmaterial" (change)="datosFactura()">
                    <option value="999">Materiales</option>
                    <option *ngFor="let item of respuestaMateriales" value={{item.id}}>{{item.nombre}}</option>
                </select>
                <div>
                    <span class="errors" *ngIf="detallefacturaForm.controls['idmaterial'].errors?.required">Obligatorio</span>
                </div><br>
                <strong>DESCUENTO</strong><br>
                <input [(ngModel)]="descuento" type="number">
                <div>
                    <span class="errors" *ngIf="detallefacturaForm.controls['descuento'].errors?.required">Obligatorio</span>
                </div><br>

                <strong>CANTIDAD</strong><br>
                <input [(ngModel)]="cantidad" type="number">
                <div>
                    <span class="errors" *ngIf="detallefacturaForm.controls['cantidad'].errors?.required"> Obligatorio </span>
                </div><br>
                <form [formGroup]="detallefacturaForm" autocomplete="off">

                    <strong>PRECIO</strong><br>
                    <input type="number" placeholder="{{precio}}" disabled> <a type="button" (click)="addProducto()">Más</a>
                    <br>
                    <br>
                    <strong>TOTAL</strong><br>
                    <input type="number" value="{{total}}" disabled>

                    <a type="button" (click)="postDataDetalleFacturas()">
                        Guardar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL FACTURACIÓN -->

<!-- MODAL DETALLE_FACTURA -->